<h2>{{model.story.title}}</h2>

<img src={{model.story.image}}>
<div class="story-title">
  <h5>{{model.story.author}}</h5>
  <h5>{{model.story.date}}</h5>
</div>

<div class="story-text">
  <p>{{model.story.text}}</p>
</div>

<button class="btn btn-primary"{{action 'deleteStory' model.story}}>Delete Story</button>

{{update-story story=model.story update='update'}}
